$primary: #0e0e52;
$primary-2: #41347f;
$secondary: #78c0e0;
$secondary-2: #abf3ff;
$light: #f0f3ff;
$cta: #ffe458;
$neutral-light: #e3e8ff;

$theme-colors: (
    "primary-2": $primary-2,
    "secondary": $secondary,
    "secondary-2": $secondary-2,
    "cta": $cta,
    "neutral-light": $neutral-light,
);

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import "../scss/bootstrap.scss";

body {
    font-family: "Raleway", "sans-serif";
}

.navbar {
    box-shadow: 2px 2px 5px $black;
    background-color: rgba(0, 0, 0, 0.75);

    #hire-me {
        border: 3px solid $light;
    }

    .navbar-toggler {
        border-style: none;
    }
}

.jumbotron {
    overflow: hidden;
    background: url("../img/hero-personal-logo-faded.svg"),
        linear-gradient(237.75deg, $primary 14.94%, $secondary 111.14%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .chevron-down {
        animation-name: bounce;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(-8px);
        }
    }
}

.main-button {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
    &:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.35);
        transform: translateY(-6px);
    }
    .cta-icon {
        background: url("../img/rocket-2---filled\(24x24\)@1x\ 2.svg");
        height: 24px;
        width: 24px;
        display: block;
    }

    .demo-icon {
        background: url("../img/laptop\(24x24\)@1x\ 1.svg");
        height: 24px;
        width: 24px;
        display: block;
    }
}

#services {
    .card {
        background-color: #212161;
        border-radius: 16px;
        .card-header {
            background-color: #2e2e72;
            border-radius: 16px;
        }
    }
}

#benefits {
    .card {
        background-color: $neutral-light;
        border-style: none;
        border-radius: 32px;
        box-shadow: 0px 8px 16px 0px #b6c1f5;
    }
}

#portfolio {
    #project-1 {
        background-color: #dec497;
        .case-study-button {
            border-bottom: 2px solid $primary;
            transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
            &:hover {
                color: $light;
                border-bottom-color: $light;
            }
        }
    }
    #project-2 {
        background-color: #daf6ff;
        .main-button {
            background-color: #ff48b7;
        }
        .case-study-button {
            border-bottom: 2px solid $primary;
            transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
            &:hover {
                color: $secondary;
                border-bottom-color: $secondary;
            }
        }
    }
}
