<section id="contact" class="bg-primary text-light py-5">
  <div class="container">
    <h2 class="d-none d-md-block display-4 font-weight-bold">
      Ready To Start Your Project?
    </h2>
    <h2 class="d-md-none h1 font-weight-bold text-center">
      Ready to Start Your Project?
    </h2>
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <form
          name="contact-form"
          data-bss-recipient="fd5db734ba75c5dfc15eaaeea041c97f"
        >
          <label for="name" class="mb-0">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control mb-3 bg-light"
          />
          <label for="email" class="mb-0">Email Address</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control mb-3 bg-light"
          />
          <label for="message" class="mb-0">Message</label>
          <textarea
            name="message"
            id="message"
            rows="8"
            class="form-control mb-3 bg-light"
          ></textarea>
          <button
            class="main-button cta-button btn btn-cta rounded-pill px-4 py-1 d-block mx-auto mb-5 mx-md-0"
            type="submit"
            value="submit"
          >
            <div class="row align-items-center px-2">
              <span class="cta-icon mr-2"></span>
              <div class="col no-gutters text-left">
                <p class="lead mb-0">Start Your Web Project</p>
                <p class="mb-0">Free Consultation</p>
              </div>
            </div>
          </button>
        </form>
      </div>
      <div class="col-lg-7 col-md-6">
        <h3 class="h2 font-weight-bold text-light text-center text-md-left">
          Frequently Asked Questions
        </h3>
        <div id="accordion">
          <div class="card mb-3">
            <div
              class="card-header"
              href="#collapse1"
              data-toggle="collapse"
              data-parent="#accordion"
            >
              <h5 class="mb-0">1. How much does a website cost?</h5>
            </div>
            <div id="collapse1" class="collapse show">
              <div class="card-body">
                This depends on the complexity of the website and some other
                factors. I’m happy to give a cost estimate during an initial
                consultation where we can discuss the details of the project.
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div
              class="card-header"
              href="#collapse2"
              data-toggle="collapse"
              data-parent="#accordion"
            >
              <h5 class="mb-0">2. How soon can I have a website?</h5>
            </div>
            <div id="collapse2" class="collapse">
              <div class="card-body">
                This also depends on the complexity of the website and how
                urgent your timeline is. I’m happy to discuss the timeline of
                your project during an initial consultation.
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header"
              href="#collapse3"
              data-toggle="collapse"
              data-parent="#accordion"
            >
              <h5 class="mb-0">3. Do I have creative control?</h5>
            </div>
            <div id="collapse3" class="collapse">
              <div class="card-body">
                I make every effort to make your website truly yours. I check in
                regularly with you to ensure that the design is to your liking.
                While I can offer my expertise, you have complete creative
                control over your project.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
