<section id="home" class="jumbotron jumbotron-fluid text-light mb-0 pb-0">
  <div class="container pt-5">
    <div class="row pt-5 align-items-center">
      <div class="col-md-7 text-center text-md-left">
        <h2 class="h1 font-weight-bold d-md-none text-center">
          Ready for a website?
        </h2>
        <h2 class="h1 font-weight-bold d-none d-md-block">
          Designing and building a website shouldn't stop you from focusing on
          your core activities
        </h2>
        <p class="lead d-md-none text-center my-4">
          I can design and build your website so you can save yourself the time
          and headache.
        </p>
        <p class="lead d-none d-md-block">
          Whether you write a blog, own a local business, or run a global
          enterprise, you need a website. Creating a website on your own can be
          a time-consuming and difficult task. I can design and build your
          website so you can save yourself the time and headache.
        </p>
        <a
          href="#contact"
          class="main-button cta-button btn btn-cta rounded-pill px-4 py-2 d-inline-block mb-5"
        >
          <div class="d-flex">
            <span class="cta-icon mr-2"></span>Start Your Web Project
          </div>
        </a>
      </div>
      <div class="col-md-5 text-center">
        <img
          src="/img/julianvu-profile.JPG"
          alt="Profile picture of Julian"
          class="rounded-circle img-fluid"
        />
        <h1 class="d-md-none display-5 font-weight-bold mt-4">Julian Vu</h1>
        <h1 class="d-none d-md-block display-4 font-weight-bold mt-4">
          Julian Vu
        </h1>
        <h2 class="h3 d-md-none font-weight-bold">Web Developer</h2>
        <h2 class="d-none d-md-block display-5 font-weight-bold">
          Web Developer
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="lead mb-0 mt-5">Scroll to see my work</p>
        <svg
          class="chevron-down"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="#f0f3ff"
            d="M12.3714 14.9285C12.133 15.0238 11.867 15.0238 11.6286 14.9285L1.62859 10.9285C1.11581 10.7234 0.866389 10.1414 1.0715 9.62861C1.27662 9.11582 1.85859 8.86641 2.37137 9.07152L12 12.923L21.6286 9.07152C22.1414 8.86641 22.7233 9.11583 22.9285 9.62861C23.1336 10.1414 22.8842 10.7234 22.3714 10.9285L12.3714 14.9285Z"
            clip-rule="evenodd"
            fill-rule="evenodd"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>

<section id="about" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="text-primary d-none d-md-block display-4 font-weight-bold">
          About Me
        </h2>
        <h2
          class="text-primary d-md-none display-5 font-weight-bold mt-4 text-center"
        >
          About Me
        </h2>
        <p class="text-primary">
          I am a web developer with a passion for building and designing
          websites that are fast, secure, and beautiful on all devices. I love
          to work with individuals, small businesses, and large enterprises
          alike.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/img/Computer.png"
          alt="Illustration of a computer"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<section id="services" class="bg-primary text-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="d-none d-md-block display-4 font-weight-bold">Services</h2>
        <h2 class="d-md-none h1 font-weight-bold mt-4 text-center">Services</h2>
        <div class="card mt-4">
          <div class="card-header text-center text-md-left font-weight-bold h3">
            Web Design
          </div>
          <div class="card-body">
            <p class="card-text">
              You have an idea—a vision—a dream. With my help, you’ll be able to
              see your idea on screen. I will work closely with you to design
              the perfect website, ready for hand-off to a developer to build.
            </p>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-header text-center text-md-left font-weight-bold h3">
            Web Development
          </div>
          <div class="card-body">
            <p class="card-text">
              If you have a design ready, I can help you turn that design into
              real, functional website. You’ll be involved every step of the
              way. Nothing gets by without your approval.
            </p>
          </div>
        </div>
      </div>
      <div class="col d-none d-lg-block">
        <img
          src="/img/Designing.png"
          alt="An illustration of the design process"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<section id="benefits" class="bg-light text-primary py-5">
  <div class="container">
    <h2 class="d-none d-md-block display-4 font-weight-bold">
      Websites I Build For You Are...
    </h2>
    <h2 class="d-md-none h1 font-weight-bold text-center">
      Your Website Will Be...
    </h2>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-4 col-md-6 col-sm-7 col-9">
        <div class="card px-5 h-100">
          <img
            src="/img/Speedometer.png"
            alt="Speedometer illustration"
            class="card-img-top align-self-center px-lg-4 px-xl-5 my-4"
          />
          <div class="text-center font-weight-bold h3 mb-4">Fast</div>
          <p class="card-text text-sm-center mb-5">
            I strive to reduce page loading times so that visitors to your
            website have a smooth, enjoyable experience.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-7 col-9 mt-4 mt-md-0">
        <div class="card px-5 h-100">
          <img
            src="/img/Mobile.png"
            alt="Mobile smartphone illustration"
            class="card-img-top align-self-center px-lg-4 px-xl-5 my-4"
          />
          <div class="text-center font-weight-bold h3 mb-4">
            Mobile-Friendly
          </div>
          <p class="card-text text-sm-center mb-5">
            People are increasingly browsing the web on mobile devices. For this
            reason, designing websites for viewing on mobile devices is always
            top-of-mind.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-7 col-9 mt-4 mt-lg-0">
        <div class="card px-5 h-100">
          <img
            src="/img/Lock.png"
            alt="Lock illustration"
            class="card-img-top align-self-center px-lg-4 px-xl-5 my-4"
          />
          <div class="text-center font-weight-bold h3 mb-4">Secure</div>
          <p class="card-text text-sm-center mb-5">
            I hold the security of your visitors’ and your information in the
            highest regard. I always apply industry best-practices to your
            website.
          </p>
        </div>
      </div>
    </div>
    <h2 class="display-4 font-weight-bold text-center text-lg-left">
      You'll Always Know What's Going On
    </h2>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2 mb-4 mb-md-0">
          <img
            src="/img/PeopleWorkingTogether.png"
            alt="Illustration of people working together"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6 text-center text-md-left">
          <p class="text-primary">
            You are a vital part of the design and development process of your
            website. For this reason, I regularly check in with you so you’ll
            always know what’s going on with your project.
          </p>
          <p class="text-primary">
            These check-ins also let you make changes to the design if there is
            something not quite how you imagined it.
          </p>
          <a
            href="#contact"
            class="main-button cta-button btn btn-cta rounded-pill px-4 py-2 d-inline-block mb-5"
          >
            <div class="d-flex">
              <span class="cta-icon mr-2"></span>Start Your Web Project
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="bg-primary-2 pt-5 text-light">
  <div class="container">
    <h2 class="d-none d-md-block display-4 font-weight-bold">Portfolio</h2>
    <h2 class="d-md-none h1 font-weight-bold text-center">Portfolio</h2>
  </div>
  <section id="project-1" class="project py-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 order-lg-2 mb-4 mb-lg-0">
          <h3 class="d-lg-none h2 font-weight-bold text-primary-2 text-center">
            Jitter Cafe Homepage
          </h3>
          <h4 class="d-lg-none h4 text-primary-2 text-center">
            Web Design • Web Development
          </h4>
          <img
            src="/img/jitter-preview.png"
            alt="Preview of Jitter project"
            class="img-fluid"
          />
          <div class="row justify-content-center d-lg-none">
            <div class="col-6 text-right">
              <a
                href="https://julianvu.github.io/jitter-landing/"
                target="_blank"
                class="main-button btn btn-primary-2 rounded-pill px-3 py-2 d-inline-block mb-2"
              >
                <div class="d-flex">
                  <span class="demo-icon mr-2"></span>View Live Demo
                </div>
              </a>
            </div>
            <div class="col-6 text-left">
              <a
                href="https://www.julianvu.dev/blog/jitter-cafe-homepage"
                class="case-study-button btn btn-transparent rounded-0 py-2 d-inline-block mx-auto mr-sm-auto ml-sm-0"
              >
                Read Case Study
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <h3 class="d-none d-lg-block h1 font-weight-bold text-primary-2">
            Jitter Cafe Homepage
          </h3>
          <h4 class="d-none d-lg-block h5 text-primary-2 mb-4">
            Web Design • Web Development
          </h4>
          <p class="text-primary">
            This project uses beautiful photography as the foundation for its
            colors. The webpage is simple and visually cohesive. Any coffee
            drinker is sure to find comfort in the warmth and familiar tones.
          </p>
          <div class="row no-gutters d-none d-lg-flex">
            <div class="col-7">
              <a
                href="https://julianvu.github.io/jitter-landing/"
                target="_blank"
                class="main-button btn btn-primary-2 rounded-pill px-4 py-2 d-inline-block"
              >
                <div class="d-flex">
                  <span class="demo-icon mr-2"></span>View Live Demo
                </div>
              </a>
            </div>
            <div class="col-5">
              <a
                href="https://www.julianvu.dev/blog/jitter-cafe-homepage"
                class="case-study-button btn btn-transparent rounded-0 py-2 d-inline-block"
              >
                Read Case Study
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="project-2" class="project py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 order-lg-2 mb-4 mb-lg-0">
          <h3 class="d-lg-none h2 font-weight-bold text-primary-2 text-center">
            Huddle Landing Page
          </h3>
          <h4 class="d-lg-none h4 text-primary-2 text-center">
            Web Development
          </h4>
          <img
            src="/img/huddle-preview.png"
            alt="Preview of Jitter project"
            class="img-fluid"
          />
          <div class="row justify-content-center d-lg-none">
            <div class="col-6 text-right">
              <a
                href="https://julianvu.github.io/huddle-landing/"
                target="_blank"
                class="main-button btn rounded-pill px-3 py-2 d-inline-block mb-2"
              >
                <div class="d-flex text-light">
                  <span class="demo-icon mr-2"></span>View Live Demo
                </div>
              </a>
            </div>
            <div class="col-6 text-left">
              <a
                href="#"
                class="case-study-button btn btn-transparent rounded-0 py-2 d-inline-block"
              >
                Read Case Study
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <h3 class="d-none d-lg-block h1 font-weight-bold text-primary-2">
            Huddle Landing Page
          </h3>
          <h4 class="d-none d-lg-block h5 text-primary-2 mb-4">
            Web Development
          </h4>
          <p class="text-primary">
            This project is an implementation of one of the Frontend Mentor
            challenges. The webpage serves as an aesthetic landing page for a
            software product. Images, colors, and copy were provided by Frontend
            Mentor
          </p>
          <div class="row no-gutters d-none d-lg-flex">
            <div class="col-7">
              <a
                href="https://julianvu.github.io/huddle-landing/"
                target="_blank"
                class="main-button btn rounded-pill px-4 py-2 d-inline-block"
              >
                <div class="d-flex text-light">
                  <span class="demo-icon mr-2"></span>View Live Demo
                </div>
              </a>
            </div>
            <div class="col-5">
              <a
                href="#"
                class="case-study-button btn btn-transparent rounded-0 py-2 d-inline-block"
              >
                Read Case Study
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

{% include contact.html %}
